* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

    a:link, a:visited {
        text-decoration: none;
    }

.left {
    float: left;
}

.right {
    float: right;
}

body {
    background-color: #F5E5C1;
    font-size: 12px;
    font-family: 'Microsoft Yahei';
    /* background: url('../Image/body.jpg') no-repeat ; */
    background-size: cover;
}

figure {
    background-color: rgb(105, 93, 80);
    height: 28px;
    opacity: 0.9;
    padding: 0 0 0 200px;
    color: #fff;
    font-weight: normal;
}

    figure p {
        font-size: 14px;
        line-height: 28px;
    }

    figure a {
        color: #fff;
        line-height: 28px;
        padding: 0 100px 0 0;
    }

        figure a:hover {
            color: #f76f6f;
        }

.header {
    width: 1000px;
    height: 100px;
    margin: 10px auto;
}

    .header img {
        padding: 20px 0 0 10px;
    }

    .header p {
        color: #fff;
        font-size: 16px;
        font-weight: normal;
        padding: 20px 0 0 20px;
    }

        .header p a {
            color: #000;
            text-shadow: #fff 1px 1px 1px;
            padding: 0 0 0 30px;
        }

            .header p a:hover {
                text-decoration: underline;
            }

#nav {
    display: block;
    width: 100%;
    line-height: 40px;
    height: 40px;
    margin: 0 auto 10px;
    background: rgba(245,245,245,0.2);
}

    #nav > ul {
        list-style: none;
        margin: auto;
        width: 1030px;
        position: relative;
    }

ul {
    list-style: none;
}

#nav ul li a {
    color: #FFF;
    cursor: pointer;
    display: block;
}

#nav ul li {
    float: left;
    width: 100px;
    text-align: center;
    text-shadow: #333 1px 1px 1px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#nav ul li#nav_current a {
    background: #E15782;
    color: #FFF;
    font-weight: bold;
    border-radius: 50px 0;
}

#nav ul li a:hover {
    background: #E15782;
    color: #FFF;
    font-weight: bold;
    border-radius: 50px 0;
}

#nav ul li ul {
    background: rgba(245,245,245,0.2);
    position: absolute;
    top: 40px;
    display: none;
    padding: 10px 0 0 0;
    text-shadow: 0 0 5px;
}

    #nav ul li ul li {
        float: none;
    }

#nav ul li:hover ul {
    display: block;
}

.mian {
    width: 100%;
}

.content {
    width: 1032px;
    margin: 10px auto;
    height: 500px;
}

.left_content {
    background-color: #F1F1F1;
    width: 70%;
    overflow: hidden;
}

.Center {
    width: 99.9%;
    margin: 0 auto;
}

.top_content {
    width: 50%;
    height: 170px;
}

    .top_content img {
        display: block;
        width: 99%;
        height: 100%;
    }

.mian_content {
    margin: 5px 0 0 0;
    width: 100%;
}

.title {
    width: 100%;
    border-bottom: #FFF 1px solid;
    overflow: hidden;
}

    .title h3 {
        width: 100%;
        overflow: hidden;
        font-size: 14px;
        margin: 0 0 10px 6px;
        font-family: "Î¢ÈíÑÅºÚ";
        display: block;
        clear: both;
    }

        .title h3 p {
            background: #474645;
            width: 180px;
            height: 25px;
            line-height: 25px;
            padding: 0 0 0 20px;
            color: #fff;
            text-align: center;
            box-shadow: #999 4px 5px 1px;
            display: block;
        }

        .title h3 span {
            color: #fd5daa;
        }

.New_Blog {
    width: 100%;
}

._newblog {
    width: 90%;
    margin: 5px auto;
    border-bottom: 1px solid #dddddd;
    height: 60px;
    opacity: 0.8;
    transition: opacity 1s;
}

    ._newblog:hover {
        opacity: 1;
    }

._newblog-pic1 {
    background: url(../Image/1.png) no-repeat left;
    background-position: 50px 0;
}

._newblog-pic2 {
    background: url(../Image/2.png) no-repeat left;
    background-position: 50px 0;
}

._newblog-pic3 {
    background: url(../Image/3.png) no-repeat left;
    background-position: 50px 0;
}

._newblog a {
    display: block;
    height: 30px;
    width: 80%;
    font-weight: bold;
    font-size: 20px;
    color: #ef7000;
    padding: 0.5% 0 0 23%;
}

    ._newblog a:hover {
        color: #000;
    }

    ._newblog a span {
        display: block;
        padding: 5px 0 0 0;
        font-size: 12px;
        color: #999999;
        font-weight: normal;
    }

.newt {
    padding-left: 20px;
    font-size: 16px;
    font-family: "Î¢ÈíÑÅºÚ";
    height: 40px;
    line-height: 40px;
    width: 96%;
    margin: 0 auto;
    border-bottom: 3px solid #000;
}

.bloglist h2 {
    background: url('../Image/title.png') no-repeat left;
    background-position: 20px 10px;
    line-height: 29px;
    height: 29px;
    font-size: 14px;
    color: #3b3b3b;
    padding: 10px 0 10px 70px;
}

    .bloglist h2 a {
        color: #3b3b3b;
        display: block;
        width: 90%;
        transition: all 0.5s;
    }

        .bloglist h2 a:hover {
            padding: 0 0 0 40px;
            background-color: #CCC;
            font-weight: bold;
        }

.bloglist ul {
    line-height: 24px;
    padding: 0 10px;
    margin-bottom: 20px;
}

    .bloglist ul p {
        text-indent: 2em;
    }

.readmore a {
    color: #e84545;
}

.dateview {
    background: #f6f6f6 url("../Image/date.png") no-repeat left;
    background-position: 10px 3px;
    line-height: 24px;
    height: 24px;
    color: #838383;
    margin: 0 10px;
}

    .dateview span {
        margin: 0 10px;
    }

    .dateview a {
        color: #838383;
    }

        .dateview a:hover {
            color: #333;
        }

.picbox {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    height: 150px;
    visibility: hidden;
    margin-top: 1px;
}

    .picbox li {
        list-style-type: none;
    }

    .picbox img {
        background-size: cover;
    }

/*ÓÒ²à*/
.right_content {
    width: 30%;
    /* background-color: rgb(220, 235, 220); */
}

aside {
    width: 300px;
    float: right;
    overflow: hidden;
}

    aside nav {
        height: 150px;
        overflow: hidden;
        display: block;
        margin: 0 auto;
    }

        aside nav ul {
            list-style-type: none;
            text-align: center;
        }

            aside nav ul li {
                list-style: none;
            }

                aside nav ul li a {
                    display: block;
                    color: #FFF;
                    transition: All 1s ease;
                    -webkit-transition: All 1s ease;
                    -moz-transition: All 1s ease;
                    -o-transition: All 1s ease;
                }

            aside nav ul li {
                float: left;
                width: 90px;
                line-height: 74px;
                height: 74px;
                margin-right: 2px;
                margin-bottom: 2px;
            }

                aside nav ul li a:hover {
                    background: rgba(255,255,255,0.2);
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                }

                aside nav ul li:nth-child(1) {
                    background: #71a532;
                }

                aside nav ul li:nth-child(2) {
                    background: #ff9900;
                }

                aside nav ul li:nth-child(3) {
                    background: #8c49ad;
                }

                aside nav ul li:nth-child(4) {
                    background: #e7769e;
                }

                aside nav ul li:nth-child(5) {
                    background: #a98659;
                }

                aside nav ul li:nth-child(6) {
                    background: #63a8e8;
                }
/*ÍøÕ¾µ×²¿*/
.splider {
    width: 235px;
    height: 80px;
    background: #f16e50;
    overflow: hidden;
    line-height: 25px;
    padding: 40px 20px;
    margin: 10px 0;
}

    .splider a {
        color: white;
        display: block;
        width: 220px;
        height: 66px;
    }

footer {
    width: 100%;
    background: #242221;
    border-top: 40px #f16e50 solid;
    clear: both;
}

.fat {
    width: 1030px;
    margin: auto;
    height: 100px;
    padding: 20px 0;
    overflow: hidden;
}
/*²à±ßµ¼º½Ìõ*/
.toolbar-item,
.toolbar-layer {
    background-image: url("../Image/tool.png");
    background-repeat: no-repeat;
}

.toolbar {
    position: fixed;
    right: 2%;
    bottom: 5px;
    top: 300px;
    margin-left: -26px;
}

.toolbar-item {
    position: relative;
    display: block;
    width: 52px;
    height: 52px;
    margin: 1px;
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    -ms-transition: background-position 1s;
    -o-transition: background-position 1s;
    transition: background-position 1s;
}

    .toolbar-item:hover .toolbar-layer {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

.toolbar-item-wenxin {
    background-position: 0 -798px;
}

    .toolbar-item-wenxin:hover {
        background-position: 0 -860px;
    }

    .toolbar-item-wenxin .toolbar-layer {
        height: 212px;
        background-position: 0 0;
    }

.toolbar-item-feedback {
    background-position: 0 -426px;
}

    .toolbar-item-feedback:hover {
        background-position: 0 -488px;
    }

.toolbar-item-app {
    background-position: 0 -550px;
}

    .toolbar-item-app:hover {
        background-position: 0 -612px;
    }

    .toolbar-item-app .toolbar-layer {
        height: 194px;
        background-position: 0 -222px;
    }

.toolbar-item-top {
    background-position: 0 -674px;
}

    .toolbar-item-top:hover {
        background-position: 0 -736px;
    }

.toolbar-layer {
    position: absolute;
    right: 46px;
    bottom: -10px;
    width: 172px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform-origin: 95% 95%;
    -moz-transform-origin: 95% 95%;
    -ms-transform-origin: 95% 95%;
    -o-transform-origin: 95% 95%;
    transform-origin: 95% 95%;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -o-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/*²à±ßµ¼º½Ìõ½áÊø*/

/*¾«²ÊÎÄÕÂÍÆ¼ö*/
.hotcomm {
}

    .hotcomm ul {
        width: 275px;
        border-top: 2px solid #000;
        margin: 10px 0 0 0;
        line-height: 30px;
        padding: 10px 0 0 0;
    }

        .hotcomm ul li a {
            display: block;
            color: #525252;
            padding-left: 20px;
            font-size: 14px;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 30px;
            height: 36px;
            overflow: hidden;
            padding-top: 2px
        }

            .hotcomm ul li a:hover {
                text-decoration: underline;
                color: #F00;
            }

        .hotcomm ul li span {
            display: block;
            float: left;
            padding: 15px 0 0 5px;
            height: 15px;
            width: 20px;
            line-height: 5px;
            text-align: center;
            font-weight: bold;
            color: #fff;
        }

        .hotcomm ul li:nth-child(1) span {
            background-color: #4C4B49;
        }

        .hotcomm ul li:nth-child(2) span {
            background-color: #CD2B49;
        }

        .hotcomm ul li:nth-child(3) span {
            background-color: #ADD30A;
        }

        .hotcomm ul li:nth-child(4) span {
            background-color: #F69523;
        }

        .hotcomm ul li:nth-child(5) span {
            background-color: #63B6E7;
        }

        .hotcomm ul li:nth-child(6) span {
            background-color: #BDAFAA;
        }
/*¼¼ÊõÌ½ÌÖ*/
.exploration, .Click {
    width: 100%;
}

    .exploration h2, .Click h2 {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        font-weight: normal;
        width: 85%;
        color: #FFF;
        padding: 0 0 0 25px;
        background-color: #f16e50;
        margin: 5px 0 0 0;
    }

    .exploration ul li, .Click ul li {
        float: left;
        width: 100%;
        padding: 10px 0 0 0;
    }

        .exploration ul li a, .Click ul li a {
            display: block;
            width: 80%;
            float: left;
            color: #525252;
            padding: 2px 0 0 20px;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

            .exploration ul li a:hover, .Click ul li a:hover {
                text-decoration: underline;
                color: #F00;
            }

        .exploration ul li span, .Click ul li span {
            display: block;
            height: 20px;
            width: 20px;
            line-height: 20px;
            float: left;
            text-align: center;
            color: #fff;
            background-color: #A2A2A2;
        }

        .exploration ul li:nth-child(1) span, .Click ul li:nth-child(1) span {
            background-color: #C61A14;
        }

        .exploration ul li:nth-child(2) span, .Click ul li:nth-child(2) span {
            background-color: #C61A14;
        }

        .exploration ul li:nth-child(3) span, .Click ul li:nth-child(3) span {
            background-color: #C61A14;
        }
/*ÁôÑÔ°å*/
.message_user {
    width: 100%;
    background-color: #F5E5C1;
}

.curmbs-nav {
    padding: 20px 0 5px 0;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: #525252;
    border-bottom: 4px #525252 solid;
    overflow: hidden;
}

    .curmbs-nav a {
        color: #525252;
    }

.area-textare-w {
    margin: 50px 0 0 0;
    border: 2px solid #525252;
    border-radius: 10px;
    overflow: hidden;
}

    .area-textare-w textarea {
        width: 100%;
        height: 200px;
        border: none;
        outline: none;
        padding: 5px 10px;
        background-color: #F5E5C1;
        color: #525252;
        font-size: 22px;
    }

.btn_button-message {
    margin-top: 20px;
}

    .btn_button-message button {
        display: block;
        height: 40px;
        width: 140px;
        float: right;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0 20px 0 0;
        padding: 10px 0 0 0;
        background: url("../Image/bt.png")no-repeat;
        background-size: cover;
        opacity: 0.7;
    }

        .btn_button-message button:hover {
            opacity: 1;
        }

.message-text {
    margin: 80px 0 50px 0;
    width: 100%;
}

    .message-text h2 {
        display: block;
        font-size: 20px;
        font-weight: normal;
        padding: 0 0 5px 10px;
        border-bottom: 2px solid #525252;
    }

.user-message {
    height: 80px;
    width: 100%;
    margin: 20px 0;
    color: #525252;
    border-bottom: 2px dotted #525252;
}

.icon {
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: aliceblue;
}

.user-message p:nth-child(3) {
    font-size: 16px;
    padding: 30px 0 0 100px;
}

.user-message p:nth-child(2) {
    font-size: 14px;
    padding: 0 0 0 100px;
}

.user-message a {
    color: #e74851;
}

    .user-message a:hover {
        text-decoration: underline;
    }

.user-message span {
    font-size: 10px;
    padding-right: 50px;
}

#bloglist ul {
    list-style: none;
}

    #bloglist ul li {
        list-style-type: none;
    }
/*ÐÄµÃ±Ê¼ÇÒ³*/
.lgo_mian {
    width: 100%;
}

.left_log_content {
    width: 70%;
}

.right_log_content {
    width: 30%;
}

.log_mian_content {
    background: #F1F0EE;
    width: 1030px;
    margin: auto;
    overflow: hidden;
    padding: 15px;
}

.log_content h2 {
    display: block;
    border-bottom: #AC0B0B 3px solid;
    line-height: 40px;
    font-size: 12px;
    font-weight: normal;
}

    .log_content h2 a {
        color: #272A30;
    }

.log_content ul {
    list-style-type: none;
    margin: 20px 10px 20px 20px;
}

.log_title a {
    font-size: 14px;
    color: #272A30;
    font-weight: bold;
}

.log_time {
    color: #747474;
    margin: 5px 0 10px 0;
}

    .log_time a {
        color: #272A30;
    }

.imgdow img {
    display: block;
    float: left;
    clear: left;
    margin: 0 10px 0 0;
    width: 160px;
    max-height: 120px;
    border: 1px #ccc solid;
    padding: 4px;
}

.log_pcon {
    line-height: 20px;
    font-size: 12px;
}

    .log_pcon a {
        color: #FFF;
        float: right;
        background: #f90;
        padding: 0 5px;
        clear: both;
    }

.log_line {
    height: 10px;
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
    clear: both;
    border-bottom: 1px dashed #ccc;
}
/*·ÖÒ³²å¼þ*/
.log_pagging {
    width: 100%;
}

.page_div {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: "microsoft yahei";
    color: #666666;
    margin-right: 10px;
    box-sizing: border-box;
}
    /*
             * Ò³Êý°´Å¥ÑùÊ½
             */

    .page_div a {
        min-width: 30px;
        height: 28px;
        border: 1px solid #dce0e0 !important;
        text-align: center;
        margin: 0 4px;
        cursor: pointer;
        line-height: 28px;
        color: #666666;
        font-size: 13px;
        display: inline-block;
    }

        .page_div a:hover {
            background-color: #0073A9;
            border-color: #0073A9;
            color: #FFFFFF;
        }

#firstPage,
#lastPage {
    width: 50px;
    color: #0073A9;
    border: 1px solid #0073A9 !important;
}

    #firstPage:hover,
    #lastPage:hover {
        color: #fff;
    }

#prePage,
#nextPage {
    width: 70px;
    color: #0073A9;
    border: 1px solid rgb(0, 115, 169) !important;
}

    #prePage:hover,
    #nextPage:hover {
        color: #fff;
    }

.page_div .current {
    background-color: #0073A9;
    border-color: #0073A9;
    color: #FFFFFF;
}

.totalPages {
    margin: 0 10px;
}

    .totalPages span,
    .totalSize span {
        color: #0073A9;
        margin: 0 5px;
    }